{% load static %}

<header>
  <nav class="nav-bar">
    <div class="nav-list">
      <div>
        <img class="logo" src="{% static 'imgs/logotipo.png' %}" alt="Lumina Logo">
      </div>
      <ul>
        <div class="name">Lumina</div>
        <li class="itens">
          <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link">Início</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'topics' %}" class="nav-link">Propostas</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link">Sobre Nós</a>
          </li>
        </li>
      </ul>
    </div>

    <!-- Ícone do menu móvel -->
    <div class="mobile-menu-icon">
      <button onclick="toggleMobileMenu()">&#9776;</button> <!-- Ícone de três barras -->
    </div>

    <!-- Menu móvel -->
    <div class="mobile-menu">
      <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link">Início</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'topics' %}" class="nav-link">Propostas</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'about' %}" class="nav-link">Sobre Nós</a>
      </li>
    </div>
  </nav>
</header>

<script src="{% static 'js/navbar.js' %}"></script>