<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meio Ambiente</title>
    
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/proposals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
</head>

<body>
    {% include 'components/navbar.html' %}
    
    <main>
        <div>
            <h1>
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>  </p>
        </div>


        <div>
            <h1>
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>  </p>
        </div>


        <div>
            <h1>
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>  </p>
        </div>


        <div>
            <h1>
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>  </p>
        </div>

        <div>
            <h1>
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>  </p>
        </div>

        <div>
            <h1>
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>  </p>
        </div>

        <div>
            <h1>
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>  </p>
        </div>


        <div>
            <h1>
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>  </p>
        </div>

        <div>
            <h1>
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>  </p>
        </div>

        
    </main>


    </script>
    <!-- Footer -->
    {% include 'components/footer.html' %}
    
</body>
</html>
