<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saúde</title>
    
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/proposals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
</head>

<body>
    {% include 'components/navbar.html' %}
    
    <main>
        
        <h1>Propostas na Categoria: Saúde</h1>
        <div>
            <h1>Saúde Preventiva para Jovens Brasileiros
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>Realização de oficinas educativas sobre saúde, sexualidade, prevenção de DST’s AIDS, gênero, gravidez na adolescência, vulnerabilidade e temas de interesse dos mesmos nas unidades de medida sócio educativa de internação e internação provisória e demais instituições que atendem adolescentes em conflito com a lei, com disponibilização de preservativos masculinos e femininos, nas unidade de internação, semiliberdade e projetos que atendem à esta população.</p>
        </div>


        <div>
            <h1> Lei de Cotas nas Residências em Saúde
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>Esta proposta visa estender o sucesso das políticas de cotas para a graduação para as residências médicas e multiprofissionais em saúde. Implementar a lei de cotas nessas áreas proporcionará 
            oportunidades equitativas para estudantes de diferentes origens, promovendo a diversidade e a inclusão no setor de saúde. Além de criar um ambiente mais representativo, essa medida contribuirá para a formação de profissionais de saúde culturalmente sensíveis.}</p>
        </div>


        <div>
            <h1> Saúde Mental do Jovem Brasileiro
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>Investir em serviços de saúde mental para atender às necessidades dos jovens, abordando questões como ansiedade e depressão.</p>
        </div>


        <div>
            <h1> Humanização no SUS: Atendimento Sensível à Juventude
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>Este programa propõe políticas públicas que capacitam e sensibilizam os profissionais de saúde em todos os níveis do SUS para melhor atender as juventudes. Focando na humanização, visa criar um ambiente de cuidado mais empático, respeitoso e inclusivo, garantindo que os jovens recebam atendimento de qualidade, considerando suas necessidades e particularidades.</p>
        </div>


        <div>
            <h1>Contratação de psicólogos e psiquiatras
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>Garantia de contratação de profissionais psicólogos e psiquiatras, pela Secretaria de Saúde, para compor as equipes dos CAPSI e NASF que atendam ao público adolescente e jovem.</p>
        </div>


        <div>
            <h1>Programa de saude familiar através da atividade fisica
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>Hoje sabemos que a musculação e uma atividade física que ajuda na melhora e prevenção de varias doenças como diabetes, hipertensão, fibromialgia. Alem de melhoras a densidade ossea, a potencia nos idosos, a força muscular e no combate a obesidade. Então a proposta visa melhorar o acesso as familias a academias promovendo subsídio as familias baixa renda para que possam cuidar da saude e prevenir futuras doenças.</p>
        </div>

        <div>
            <h1>Falta de assistência psicológica em ensino público.
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>A pressão e ansiedade que alunos do ensino público são expostos é desgastante e necessita auxílio. Quando falamos de uma universidade, muitas vezes é preciso abandonar a cidade e família para crescer e ter um bom futuro, mas acaba criando inseguranças que a falta de apoio acaba aumentando podendo chegar em situações extremas. É preciso que todos tenham o direito de tratamento e consultas com um profissional especializado para que o mesmo possa ter uma vida leve apesar das dificuldades.</p>
        </div>

        <div>
            <h1>Equipes multidisciplinares de saúde mental e física 
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>Garantir maior participação dos jovens no conselho de saúde do estado.Implementação de um programa especializado que garanta atendimento de jovens através de equipes multidisciplinares que conte com psicólogo, ginecologista,clínico geral, enfermeiras e outras especialidades.</p>
        </div>

        <div>
            <h1>Apoio a Pessoas em Situação de Vulnerabilidade
                   <a class="propostas" href="#">
            Ver Analise 
          </a> 
            </h1>
          <p>Identificar e fornecer assistência especializada a pessoas em situações de vulnerabilidade, como vítimas de abuso, refugiados e pessoas em situação de rua.</p>
        </div>









    </main>


    </script>
    <!-- Footer -->
    {% include 'components/footer.html' %}
    
</body>
</html>
