<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/comments.css' %}" />
  </head>

<body>

    {% include 'components/navbar.html' %}

    {% autoescape off %}
        {{ plot_div }}
    {% endautoescape %}

    <h2>Comentários</h2>
    <div id="emoji-filter">
        <span>Filtrar :</span>
        <span class="filter-emoji" data-sentiment="0">😡</span>
        <span class="filter-emoji" data-sentiment="1">😞</span>
        <span class="filter-emoji" data-sentiment="2">😐</span>
        <span class="filter-emoji" data-sentiment="3">😊</span>
        <span class="filter-emoji" data-sentiment="4">😍</span>
        <span class="filter-emoji" data-sentiment="all">🔄</span>
    </div>
    <ul id="comments-list">
        {% for comment in comments %}
            <li data-sentiment="{{ comment.sentiment }}">
                <span class="emoji"></span>
                {{ comment.body }}
            </li>
        {% endfor %}
    </ul>
    <p id="no-comments-message" style="display: none; text-align: center;">Nenhum comentário encontrado para esta classificação.</p>

    {% include 'components/footer.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const comments = document.querySelectorAll('#comments-list li');
            const filterEmojis = document.querySelectorAll('#emoji-filter .filter-emoji');
            const noCommentsMessage = document.getElementById('no-comments-message');

            filterEmojis.forEach(emoji => {
                emoji.addEventListener('click', function() {
                    const sentiment = this.getAttribute('data-sentiment');
                    let hasComments = false;
                    comments.forEach(comment => {
                        if (sentiment === 'all' || comment.getAttribute('data-sentiment') === sentiment) {
                            comment.style.display = 'flex';
                            hasComments = true;
                        } else {
                            comment.style.display = 'none';
                        }
                    });
                    noCommentsMessage.style.display = hasComments ? 'none' : 'block';
                });
            });

            comments.forEach(comment => {
                const sentiment = parseInt(comment.getAttribute('data-sentiment'));
                const emojiSpan = comment.querySelector('.emoji');
                let emoji = '';

                switch (sentiment) {
                    case 0:
                        emoji = '😡'; // Muito negativo
                        break;
                    case 1:
                        emoji = '😞'; // Negativo
                        break;
                    case 2:
                        emoji = '😐'; // Neutro
                        break;
                    case 3:
                        emoji = '😊'; // Positivo
                        break;
                    case 4:
                        emoji = '😍'; // Muito positivo
                        break;
                    default:
                        emoji = '❓'; // Indefinido
                }

                emojiSpan.textContent = emoji;
            });
        });
    </script>
</body>
</html>